<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta charset="utf-8">
        <title>
            lukkarit.
        </title>
    </head>
    <body>
        <style>
            @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
            body {
                background: #000;
                font-family: 'Roboto Mono',monospace;
                font-weight: normal;
                font-style: normal; 
                color: #fff;
            }
            #schedule-container {
                width: 80%;
                height: 50%;
                margin: 50px auto;
                position:relative;
            }
            .schedule-block {
                width: 20%;
                min-height: 500px;
                height: auto;
                overflow:hidden;
                float:left;
                overflow:hidden;
                margin: 0;
                padding: 0;
            }
            p {
                color: #fff;
                margin: 0;
                margin-bottom: 5px;
                font-size: 17px;
            }
            .event-time {
                font-size: 20px;
            }
            .event-info-line {
                width: 100%; 
                word-wrap: break-word;
            }
            .event-info-line:last-child {
                margin-bottom: 10px;
            }
            .block-date {
                text-align:center;
                font-size: 25px;
                color: #fff;
                margin-bottom: 20px;
            }
            .block-event {
                margin-left: 10px;
                margin-right: 10px;
                width: calc(100% - 20px);
                border-bottom: solid 1px #fff;
                margin-bottom: 15px;
            }
            .block-event:last-child() {
                border-bottom: none;
            }
            #no-sched {
                color: #fff;
            }
            .sched-nav-button {
                position: absolute;
                top: -10px;
                width: 50px;
                height: 50px;
                z-index: 1;
                display: none;
                border: none;
                background: transparent;
                cursor: pointer;
                color: #fff;
                font-size: 30px;
            }
            #go-left {
                left: 0;
            }
            #go-right {
                right: 0;
            }
            .sched-nav-button.hidden {
                display: none;
            }
            @media only screen and (max-width: 1200px) {
                #schedule-container {
                    width: 98% !important;
                }
            }
            @media only screen and (max-width: 900px) {
                .schedule-block {
                    display: none;
                }
                .schedule-block.active {
                    display: block !important; 
                    width: 100%;
                }
                .sched-nav-button {
                    display: block;
                }
            }
        </style>
        <% if(content.length > 0) { %>
            <div id="schedule-container">
                <button class="sched-nav-button" id="go-left" onclick="goLeft();"><</button>
                <button class="sched-nav-button" id="go-right" onclick="goRight();">></button>
                <% for(var i = 0; i < content.length; i++) { %>
                    <div class="schedule-block" data-day="<%= content[i].day %>">
                    <p class="block-date">
                        <%= content[i].day %>
                    </p> 
                    <% for(var j = 0; j < content[i].events.length; j++) { %>
                    <div class="block-event">
                        <p class="event-time">
                            <%= content[i].events[j].startTime %> - <%= content[i].events[j].endTime %>
                        </p>
                        <% for(var k = 0; k < content[i].events[j].info.length; k++) { %>
                            <p class="event-info-line">
                                <%= content[i].events[j].info[k] %>
                            </p>
                        <% } %>
                    </div><% } %>
                </div><% } %>
            </div>
        <% } else { %>
            <span id="no-sched">Request timed out. Did you use the correct class ID?</span>
        <% } %>
        <script>
            const content = "<%= JSON.stringify(content) %>";
            const from = "<%= from %>";
            const formatted = content.replace(/&#34;/gi, '"');
            const parsed = JSON.parse(formatted);
            const days = document.getElementsByClassName("schedule-block");

            
            let attrMatch = false;
            for (let i = 0; i < days.length; i++) {
                const day = days[i];
                const attr = day.getAttribute("data-day");
                if (attr === from) {
                    day.classList.add("active");
                    attrMatch = true;

                    if (i <= 0) 
                        document.getElementById("go-left").classList.add("hidden");
                    if (i >= days.length - 1) 
                        document.getElementById("go-right").classList.add("hidden");
                    
                    break;
                }
            }   

            if (!attrMatch && days[0])
                days[0].classList.add("active");
            
            const goLeft = () => {
                for (let i = 0; i < days.length; i++) {
                    if (days[i].classList.contains("active") && i != 0) {
                        days[i].classList.remove("active");
                        days[i-1].classList.add("active");
                    
                        const goLeftBtn = document.getElementById("go-left");

                        if (i-1 <= 0) 
                            goLeftBtn.classList.add("hidden");
                        
                        break;
                    }
                }
                document.getElementById("go-right").classList.remove("hidden");
            };

            const goRight = () => {
                for (let i = 0; i < days.length; i++) {
                    if (days[i].classList.contains("active") && i != (days.length - 1)) {
                        days[i].classList.remove("active");
                        days[i+1].classList.add("active");
                        
                        const goRightBtn = document.getElementById("go-right");

                        if (i+1 >= days.length - 1) 
                            goRightBtn.classList.add("hidden");

                        break;
                    }
                }
                document.getElementById("go-left").classList.remove("hidden");
            };
        </script>
    </body>
</html>